<div class="page-header">
  <%= link_to new_recipe_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Recipe
  <% end %>
  <h1>My Recipes</h1>
</div>

      <%= content_tag_for(:tr, @recipes) do |recipe| %>
      <div class= "recipes">
            <div class="title"><h1><%= recipe.title %></h1>
            <div class= "ingredients"><h4>Ingredients</h4><%= recipe.ingredients %></div>
            <div class= "ingredients"><h4>Instructions</h4><%= recipe.instructions %></div>
            <div class= "ingredients"><h4>Servings</h4><%= recipe.servings %></div>
            <%= link_to 'Show', recipe %>
            <%= link_to 'Edit', edit_recipe_path(recipe) %>
            <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
     <% end %>



